.start{
    height: 50px;
   
    background-color: orange;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    


}
.link{
    display: flex;
}
.logo{
    max-width: 140px;
}
.container{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
    
}


.row{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    flex-direction:row; 
    
      

}
.col{
    width: 33%;
    height: 450px;
    display: flex;
    position: relative;
    
    
    
    
    
}

 .col :hover .heart{
    
 }



.heart{
    position: absolute;
    left:290px;
    top: 5px;;
    
    
    font-size: larges;
    background-color: white;    
    
}
#disco{
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: red;
    color: white;
}
#sost{
    position: absolute;
    bottom: 10px;
    left: 45px;
    background-color: green;
    color: white;

}
