.start{
    height: 50px;
   
    background-color: orange;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    


}
.link{
    display: flex;
}
.logo{
    max-width: 140px;
}
.container{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    position: absolute;
    
    
    

}
.col{
    width: 200px;
    height: 200px;;
    
    
}
heart{
    position: relative;
    bottom:315px;
    left:195px;
}
